@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3e6fc6;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-xl {
  color: blue;
}

p {
  color: black;
}

.svg-inline--fa {
  height: auto !important;
  /* Sobrescreve o height padrão */
}

.ProseMirror h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ProseMirror h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.ProseMirror h4 {
  font-size: 1rem;
  font-weight: bold;
}

.relative {
  position: relative;
  margin-top: 4px;
}